<!-- slider.component.html -->
<button (click)="scrollLeft()">← Previous</button>

<div class="scroll-container" #scrollContainer>
    <div>Box1</div>
    <div>Box2</div>
    <div>Box3</div>
    <div>Box4</div>
    <div>Box5</div>
    <div>Box6</div>
    <div>Box7</div>
    <div>Box9</div>
    <div>Box10</div>
    <div>Box11</div>
    <div>Box12</div>
    <div>Box13</div>
    <div>Box14</div>
    <div>Box15</div>
    <div>Box16</div>
    <div>Box17</div>
    <div>Box18</div>
    <div>Box19</div>
    <div>Box20</div>

</div>

<button (click)="scrollRight()">Next →</button>